{{#with paginate}}
<div class="paginate">
{{#with prev~}}
<a href="{{link href}}">{{#if this.previous-label}}{{this.previous-label}}{{else}}Previous{{/if}}</a>
{{~/with}}
<div>{{this.name}} / {{this.total}}</div>
{{#with next~}}
<a href="{{link href}}">{{#if this.next-label}}{{this.next-label}}{{else}}Next{{/if}}</a>
{{~/with}}
</div>
{{/with}}
