<ul class="{{#if class}}{{class}}{{else}}listing{{/if}}">
{{#menu list=true}}
{{~#if @self~}}
<li class="selected">
<a href="{{link href}}" title="{{title}}">{{title}}</a>
{{#if with-description}}<p>{{description}}</p>{{/if}}
</li>
{{else}}
<li>
<a href="{{link href}}" title="{{title}}">{{title}}</a>
{{#if with-description}}<p>{{description}}</p>{{/if}}
{{/if}}
{{~/menu}}</ul>
