<ul class="{{#if class}}{{class}}{{else}}listing{{/if}}">
{{#menu list=true}}
{{~#unless @self~}}
<li>
<a href="{{link href}}" title="{{description}}">{{title}}</a>
<p>{{description}}</p>
</li>
{{/unless}}{{/menu}}</ul>
