<ul class="{{#if class}}{{class}}{{else}}listing{{/if}}">
{{#menu list=true include-index=include-index}}
{{~#if @self~}}
<li class="selected">
<a href="{{link href}}" title="{{description}}">{{title}}</a>
<p>{{description}}</p>
</li>
{{else}}
<li>
<a href="{{link href}}" title="{{description}}">{{title}}</a>
<p>{{description}}</p>
{{/if}}
{{~/menu}}</ul>
