<!DOCTYPE HTML>
<html lang="{{ lang }}" class="sidebar-visible no-js">
    <head>
        {{> head}}
        {{author}}
        {{favicon}}
        {{styles main=false}}
        <meta name="theme-color" content="#ffffff" />
    </head>

    <body>
        <script type="text/javascript">
            try {
                var sidebar = localStorage.getItem('mdbook-sidebar');

                if (sidebar.startsWith('"') && sidebar.endsWith('"')) {
                    localStorage.setItem('mdbook-sidebar', sidebar.slice(1, sidebar.length - 1));
                }
            } catch (e) { }

            var html = document.querySelector('html');
            html.classList.remove('no-js')
            html.classList.add('js');

            var sidebar = 'hidden';
            if (document.body.clientWidth >= 1080) {
                try { sidebar = localStorage.getItem('mdbook-sidebar'); } catch(e) { }
                sidebar = sidebar || 'visible';
            }
            html.classList.remove('sidebar-visible');
            html.classList.add("sidebar-" + sidebar);
        </script>

        <nav id="sidebar" class="sidebar" aria-label="Table of contents">
            <div class="sidebar-scrollbox">
              {{menu}}
            </div>
            <div id="sidebar-resize-handle" class="sidebar-resize-handle"></div>
        </nav>

        <div id="page-wrapper" class="page-wrapper">

            <div class="page">
                <div id="menu-bar-hover-placeholder"></div>
                <div id="menu-bar" class="menu-bar sticky bordered">
                    <div class="left-buttons">
                        <button id="sidebar-toggle"
                          class="icon-button"
                          type="button"
                          title="Toggle Table of Contents"
                          aria-label="Toggle Table of Contents"
                          aria-controls="sidebar">
                            <i class="fas fa-bars"></i>
                        </button>

                        {{#if search_enabled}}
                          <button id="search-toggle"
                            class="icon-button"
                            type="button"
                            title="Search. (Shortkey: s)"
                            aria-label="Toggle Searchbar"
                            aria-expanded="false"
                            aria-keyshortcuts="S"
                            aria-controls="searchbar">
                              <i class="fas fa-search"></i>
                          </button>
                        {{/if}}

                    </div>

                    <h1 class="menu-title">\{{ book_title }}</h1>

                    <div class="right-buttons">
                        <a href="../print/" title="Print this book" aria-label="Print this book">
                            <i id="print-button" class="fas fa-print"></i>
                        </a>
                    </div>

                </div>

                {{#if search_enabled}}
                <div id="search-wrapper" class="hidden">
                    <form id="searchbar-outer" class="searchbar-outer">
                        <input type="search"
                          name="search"
                          id="searchbar"
                          name="searchbar"
                          placeholder="Search this book ..."
                          aria-controls="searchresults-outer"
                          aria-describedby="searchresults-header">
                    </form>
                    <div id="searchresults-outer" class="searchresults-outer hidden">
                        <div id="searchresults-header" class="searchresults-header"></div>
                        <ul id="searchresults">
                        </ul>
                    </div>
                </div>
                {{/if}}

                <!-- Apply ARIA attributes after the sidebar and the sidebar toggle button are added to the DOM -->
                <script type="text/javascript">
                    document.getElementById('sidebar-toggle').setAttribute('aria-expanded', sidebar === 'visible');
                    document.getElementById('sidebar').setAttribute('aria-hidden', sidebar !== 'visible');
                    Array.from(document.querySelectorAll('#sidebar a')).forEach(function(link) {
                        link.setAttribute('tabIndex', sidebar === 'visible' ? 0 : -1);
                    });
                </script>

                <div id="content" class="content">
                    <main>{{ partial }}</main>

                    <nav class="nav-wrapper" aria-label="Page navigation">

                        <!-- Mobile navigation buttons -->
                        {{#previous menu href}}
                          {{#page this}}
                            <a rel="prev" href="{{ link href }}"
                              class="mobile-nav-chapters previous"
                              title="Previous chapter"
                              aria-label="Previous chapter"
                              aria-keyshortcuts="Left">

                                <i class="fas fa-angle-left"></i>
                            </a>
                          {{/page}}
                        {{/previous}}

                        {{#next menu href}}
                          {{#page this}}
                            <a rel="next" href="{{ link href }}"
                              class="mobile-nav-chapters next"
                              title="Next chapter"
                              aria-label="Next chapter"
                              aria-keyshortcuts="Right">

                                <i class="fas fa-angle-right"></i>
                            </a>
                          {{/page}}
                        {{/next}}

                        <div style="clear: both"></div>
                    </nav>
                </div>
            </div>

            <nav class="nav-wide-wrapper" aria-label="Page navigation">
                {{#previous menu href}}
                  {{#page this}}
                    <a rel="prev" href="{{ link href }}"
                      class="nav-chapters previous"
                      title="Previous chapter"
                      aria-label="Previous chapter"
                      aria-keyshortcuts="Left">
                        <i class="fas fa-angle-left"></i>
                    </a>
                  {{/page}}
                {{/previous}}

                {{#next menu href}}
                  {{#page this}}
                    <a rel="next" href="{{ link href }}"
                      class="nav-chapters next"
                      title="Next chapter"
                      aria-label="Next chapter"
                      aria-keyshortcuts="Right">
                        <i class="fas fa-angle-right"></i>
                    </a>
                  {{/page}}
                {{/next}}
            </nav>

        </div>

        {{scripts main=false}}

        {{#if print}}
          <script type="text/javascript">
            window.addEventListener('load', function() {
                window.setTimeout(window.print, 100);
            });
          </script>
        {{/if}}

        {{livereload}}
    </body>
</html>
