{{#if (and repository.url repository.edit-path)~}}
<a
  target="{{#if this.target}}{{this.target}}{{else}}_blank{{/if}}"
  href="{{repository.url}}{{repository.edit-path}}{{file.path}}"
  {{#if this.class}} class="{{this.class}}"{{/if}}
  {{#if this.title}} title="{{this.title}}"{{/if}}>{{this.label}}</a>
{{~/if~}}
